<script>
// jQueryless
document.addEventListener("DOMContentLoaded", function(event) {
    $('.datatable').DataTable(
        {{datatable.datatable_config}}
    );
});
</script>

{% if can_export_to_excel %}
    <a href="{% url 'django_datatables:datatable_manager' %}?module={{module}}&name={{name}}&export=excel">Excel</a>
{% endif %}

<table class="table table-striped datatable" data-ajax="{% url 'django_datatables:datatable_manager' %}?module={{module}}&name={{name}}"
    data-server-side='true'
    >
    <thead>
    {% for column_title in datatable.get_column_titles %}
        <th>{{column_title}}</th>
    {% endfor %}
    </thead>
</table>